<!DOCTYPE html>
<html>
<head>
    <title>Principal</title>
    <!-- Estilos internos para la página -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #333;
            text-align: center;
            padding: 20px 0;
        }
        /* Estilos para la barra de navegación */
        nav {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
        nav ul li {
            margin: 15px 0;
        }
        nav ul li a {
            color: #337ab7;
            text-decoration: none;
            font-size: 1.2em;
        }
        nav ul li a:hover {
            color: #23527c;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- Título de la página -->
    <h1>Bienvenido a la aplicación de citas médicas</h1>
    <!-- Barra de navegación con enlaces a diferentes partes de la aplicación -->
    <nav>
        <ul>
            <li><a href="/citas">Ver citas</a></li>
            <li><a href="/historialcitas">Ver historial</a></li>
            <li><a href="/medicos">Ver médicos</a></li>
            <li><a href="/pacientes">Ver pacientes</a></li>
        </ul>
    </nav>
</body>
</html>